<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img
                  src="assets/img/theme/team-4-800x800.jpg"
                  class="rounded-circle"
                />
              </a>
            </div>
          </div>
        </div>
        <!-- buttons -->
        <div
          class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4"
        >
          <div class="d-flex justify-content-between">
            <a routerLink='/universite' class="btn btn-sm btn-info mr-4"
              >Back to list</a
            >
            <a
            routerLink='/universite/update/{{universite.idUni}}'
              class="btn btn-sm btn-default float-right"
              >Update</a
            >
          </div>
        </div>
        
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div
                class="card-profile-stats d-flex justify-content-center mt-md-4"
              >
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>{{universite.nomUni}}<span class="font-weight-light"> *** </span></h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>Address
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>Description
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>{{universite.description}}
            </div>
            <hr class="my-4" />
            <p>
              List of branches (only 3) ...
            </p>
            <a href="javascript:void(0)">Show more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>