.my-pagination ::ng-deep .ngx-pagination .current {
    color: #fff!important;
    background-color: #5e72e4!important;
    border-color: #5e72e4!important;
    border-radius: 50%!important;
  }
  
  .my-pagination ::ng-deep .ngx-pagination a:hover {
    color: #fff!important;
    background-color: #5e72e4!important;
    border-color: #5e72e4!important;
    border-radius: 50%!important;
  }
  
  
  .my-pagination ::ng-deep .ngx-pagination .disabled {

    
    color: #fff!important;


    border-radius: 50%!important;
  }
  