<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row mt-5">
    <div class="col">
      <div class="card bg-default shadow">
        <div
          class="d-flex justify-content-lg-around card-header bg-transparent border-0"
        >
          <h3 class="text-white mb-0">{{ title }}</h3>
          <button
            class="btn btn-round btn-info"
            [routerLink]="['/equipes/add']"
          >
            ADD
          </button>
        </div>
        
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col" (click)="sort('id')">
                  id &nbsp;
                  <i class="fa fa-sort"></i>
                </th>
                <th scope="col" (click)="sort('nomEquipe')">
                  Nom Equipe &nbsp;
                  <i class="fa fa-sort"></i>
                </th>
                <th scope="col">niveau Equipe</th>
                <th scope="col">Detail Equipe</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let e of listEquipe
                    | orderBy: key:reverse
                    | paginate: { itemsPerPage: 4, currentPage: p }
                "
              >
                <td>{{ e.idEquipe }}</td>
                <td>{{ e.nomEquipe }}</td>
                <td>{{ e.niveau }}</td>
                <td>{{ e.detailEquipe1.idEqp }}</td>
                <td>
                  &nbsp;
                  <button
                    class="btn btn-sm btn-danger"
                    (click)="deleteEquipe(e)"
                  >
                    delete
                  </button>
                  &nbsp;
                  <a
                    class="btn btn-sm btn-warning"
                    [routerLink]="[
                      '/equipes/updateEqp',
                      e.idEquipe,
                      e.detailEquipe1.idEqp
                    ]"
                  >
                    update
                  </a>
                  &nbsp;
                  <i
                    class="fa fa-info-circle fa-2x"
                    aria-hidden="true"
                    style="cursor: pointer;"
                    (click)="changeText[e.idEquipe] = !changeText[e.idEquipe]"
                  ></i>
                  <span *ngIf="!changeText[e.idEquipe]"></span>
                  <span *ngIf="changeText[e.idEquipe]"class="">
                    <div class="d-flex  justify-content-center">
                    <p  >Numero de salle---></p>   
                    &nbsp;  
                    <p>{{ e.detailEquipe1.salle }}</p>
                  </div>
                  <div class="d-flex  justify-content-center">
                    <p  >Thematique---></p>
                    <p>{{ e.detailEquipe1.thematique }}</p>
                  </div>
                  </span>
                  
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls  (pageChange)="p = $event" class="my-pagination"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>

<!-- Button trigger modal -->
