
    <!-- Page content -->



    <app-sidebar></app-sidebar>
<div class="main-content">



  <app-navbar></app-navbar>



   <div class="container-fluid">
    <div class="header bg-gradient-danger pb-8 pt-5 pt-md-8 headerhome">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Traffic</h5>
                      <span class="h2 font-weight-bold mb-0">350,897</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="fas fa-chart-bar"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                    <span class="text-nowrap">Since last month</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Nombre totale des etudiants</h5>
                      <span class="h2 font-weight-bold mb-0">{{this.etudiantCount}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                        <i class="fas fa-chart-pie"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">

                    <span _ngcontent-c5="" class="text-warning mr-2">
                      <span _ngcontent-c5="" class="text-warning mr-2">
                        {{this.pourcentage}}
                      </span>
                    </span>                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Sales</h5>
                      <span class="h2 font-weight-bold mb-0">924</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                        <i class="fas fa-users"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                    <span class="text-nowrap">Since yesterday</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Performance</h5>
                      <span class="h2 font-weight-bold mb-0">49,65%</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                        <i class="fas fa-percent"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                    <span class="text-nowrap">Since last month</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- Page content -->


    <div class="container-fluid mt--7">
      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">Liste des etudiants</h3>
            </div>
            <div _ngcontent-c5="" class="col text-right">
              <a _ngcontent-c5="" class="btn btn-sm btn-primary" (click)="trier()"><i class="ni ni-align-left-2"></i> Trier</a>
              <a _ngcontent-c5="" class="btn btn-sm btn-primary" [routerLink]="['/etudiants/addEtudiant']"><i class="ni ni-fat-add"></i> Ajouter</a>
              <a><app-search (changeSearch)="OnSearchTextEntered($event)"></app-search></a>
              <div class="card-body">
                <div class="row">


                </div>
                <p _ngcontent-c5="" class="mt-3 mb-0 text-muted text-sm">
                 

              </div>
            </div>

          <br>

            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">

                  <tr>
                    <th scope="col">Id etudiant</th>
                    <th scope="col">Nom etudiant</th>
                    <th scope="col">Prenom etudiant</th>
                    <th scope="col">Option etudiant</th>
                    <th scope="col">Departement</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tbody *ngFor="let etu of listEtudiant | paginate: { itemsPerPage: 4, currentPage: p }">

                    <tr *ngIf="searchText === '' ||
                    etu.nom.toLowerCase().includes(searchText) ||
                    etu.prenom.toLowerCase().includes(searchText) ||
                    etu.option.toLowerCase().includes(searchText) ||
                    etu.idEtudiant.toString().includes(searchText)">

                    <td>{{etu.idEtudiant}}</td>
                    <td>{{etu.nom}}</td>
                    <td>{{etu.prenom}}</td>
                    <td>{{etu.option}}</td>
                    <td>{{etu.departement.nomDepart}}</td>
                    <td>

                      <button class="btn btn-icon btn-3 btn-primary" (click)="deleteEtid(etu)">
                        <span class="btn-inner--icon"><i class="ni ni-fat-remove"></i></span>
                        <span class="btn-inner--text">Supprimer</span>
                      </button>
                      &nbsp;
                      <button class="btn btn-icon btn-3 btn-primary"[routerLink]="['/etudiants/updateEtudiant',etu.idEtudiant]">
                        <span class="btn-inner--icon"><i class="ni ni-ui-04"></i></span>
                        <span class="btn-inner--text">Modifier</span>
                      </button>

                      <button
                      class="btn btn-icon btn-3 btn-primary"
                      #popupbtn
                      id="popupbtn"
                      (click)="chooseContrat = etu; open()"
                      >Ajouter Contrat</button
                    >

                    </td>


                    <ng-template #content let-modal>
                      <div class="modal-header">
                        <h1 class="modal-title" id="modal-basic-title">
                          Ajouter un contrat  : {{ etu.prenom }}
                        </h1>
                        <button
                          type="button"
                          #closebtn
                          class="btn-close"
                          aria-label="Close"
                          (click)="modal.dismiss('Cross click')"
                        >
                          X
                        </button>
                      </div>
                      <div class="modal-body">
                        <app-add-contrat
                          [etudiant]="chooseContrat.prenom"
                          (addedResult)="rep($event); modal.dismiss()"
                        ></app-add-contrat>
                      </div>
                      <div class="modal-footer">

                      </div>
                    </ng-template>

                </tbody>
              </table>
            </div>
            <pagination-controls  (pageChange)="p = $event" class="my-pagination"></pagination-controls>
          </div>


